//
// VARIABLES
//

// Colors
$blue: #4183c4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Custom Defaults
$bgDefault: #222222;
$textDefault: #f3efe0;
$subtitle: #e1ddd0;
$linksDefault: #22a39f;
$linksHighlight: #2fc4bf;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
	@media screen and (max-width: 640px) {
		@content;
	}
}
